body {
  font-family: helvetica, sans-serif;
  max-width: 600px;
}

div {
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

.chocolate {
  background-image: url(assets/cake.jpg);
}

.candy {
background-image: url(assets/cottonCandy.jpg);
}

.jelly {
background-image: url(assets/jello.png);
}

p {
  /* support IE */
  background: rgba(0,0,0,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  /* background: linear-gradient(bottom, rgba(255,255,0,1), rgba(255,0,0,1)); */
  /* support Chrome, Safari & Opera */
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  /* support Mozilla & Firefox */
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  /* background-color: rgba(0,0,0,1); */
  color: rgba(255,255,255,1);
  padding: 7px;
  text-align: justify;
  line-height: 24px;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.price {
  float: right;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
  margin: 60px 0 0 0;
}

h2 {
  text-align: center;
  margin: 0px 0 70px 0;
}

@media (max-width: 500px) {
  body {
    background: red;
  }
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}